:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --footer-text-color: #ffffff;
}
body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/* header */
.logo {
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--hover-color);
}
.nav-list,
.contact {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.link {
  color: var(--main-color);
  text-decoration: none;
}
.link-studio {
  color: var(--hover-color);
}
.link-portfolio {
  color: var(--hover-color);
}

.link-contact {
  color: var(--second-color);
  text-decoration: none;
}
.link:hover,
.link-contact:hover,
.link:focus,
.link-contact:focus {
  color: var(--hover-color);
}

/* body studio */
.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  color: var(--footer-text-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background: #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
  color: var(--footer-text-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.section-list {
  list-style-type: none;
}
.section-pluses .pluses-title {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-pluses .pluses-text {
  color: var(--second-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}
.wtd-list {
  list-style-type: none;
}
.team-list {
  list-style-type: none;
}
.footer-list {
  list-style-type: none;
}
.section-team {
  background: #f5f4fa;
}
.section-team .team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-title {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}
.team-list .team-text {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.19;
}

/* body portfolio */
.button-list {
  list-style-type: none;
}
.portfolio-list {
  list-style-type: none;
}
.filter-button {
  background: #f5f4fa;
  border-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background: var(--hover-color);
  color: var(--footer-text-color);
}

.pl-title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  font-weight: 700;
  color: var(--footer-text-color);
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.address-link {
  /* color: var(--main-color); */
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-atribute .address-link {
  /* color: var(--main-color); */
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
}
